{% extends 'base.html' %}


{% block title %}
    Create new post
{% endblock title %}


{% block content %}
    <div class="container">
        <h2>{% if post %}Edit{% else %}Create{% endif %}post</h2>

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    <div class="form-text text-danger">{{ field.errors }}</div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock content %}
